/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

*{box-sizing: border-box;}

html, body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    height: 0;
    visibility: hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.headnav .logo, .head-login, .nav-hot{
    background: url(./assets/topbar.png) no-repeat 0 9999px;
}
.icn, .arr{
    background: url(./assets/toplist.png) no-repeat 0 9999px;

}
.download, .download-btn{
    background: url(./assets/download.png) no-repeat 0 0;
}
.side-login, .side-login a, .content-title, .more-tt, .new-items > li, .type-icon-play, .type-icon-good{
    background: url(./assets/index.png) no-repeat 0 9999px;
    
}
.icon-listen, .btn, .hot-icon-play, .new-icon-play, .cur, .vol-alpha{
    background: url(./assets/iconall.png) no-repeat 0 9999px;

}
.list-item-info, .item-dt-bc{
    background: url(./assets/coverall.png) no-repeat 0 9999px;

}

.top-wrap{
    background: url(./assets/index_bill.png) no-repeat;
}

.to-singer a{
    background: url(./assets/button2.png) no-repeat;
}

.icon-vip{
    background: url(./assets/icon.png) no-repeat 0 9999px;
}

.prg-long, .rdy{
    background: url(./assets/statbar.png)
}

.broadcast-bc, .icn2, .ico-ply, .selete-src, .show-bc, .show--lock-bc, .ct-pre, .ct-ply, .ct-next{
    background: url(./assets/playbar.png);
}

.t-hide{
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    word-wrap: normal;
}
em, i{
    font-style: normal;
    text-align: left;
    font-size: inherit;
}
.ico3, .icon-down, .icon-playing, .list-info-srcou, .icn2-inline{
    background: url(./assets/playlist.png) no-repeat 0 9999px;
}




