.main{
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.content-wrap{
    float: left;
    width: 728px;

}
.main-content{
    padding: 20px 20px 40px;
}



.content-title {
    height: 33px;
    padding: 0 10px 0 34px;
    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
}

.hot-title{
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}

.hot-nav{
    float: left;
    margin: 7px 0 0 20px;
}
.line{
    margin: 0 10px;
    color: #ccc;
}

.more-tt{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background-position: 0 -240px;
}

/* 内容列表 */
.hot-music .hot-music-item{
    margin: 20px 0 0 -42px;
}

.hot-music .hot-music-list {
    width: 182px;
    height: 204px;
    padding-left: 42px;
}

.hot-music-item li{
    float: left;
    display: inline-block;
    width: 140px;
    height: 188px;
    overflow: hidden;
    padding: 0 0 30px 50px;
    line-height: 1
}

.list-item {
    position: relative;
    width: 140px;
    height: 140px;
}


.list-item img{
    display: block;
    width: 100%;
    height: 100%;
}
.list-item >a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-item-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background-position: 0 -537px;
    color: #ccc;
}

.list-item-info > span, .list-item-info > a{
    display: block;
    float: left;
}

.icon-listen{
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
}

.hot-item-nub{
    margin: 7px 0 0 0;
}

.list-item-info .hot-icon-play{
    float: right;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    margin: 7px 10px 0 0;
}

.hot-dsc{
    margin: 8px 0 3px;
    font-size: 14px;
}

.hot-dsc a{
    display: inline-block;
    max-width: 100%;
    _width: 100%;
    vertical-align: middle;
    line-height: 1.4;
}
.hot-dsc a:hover{
    text-decoration: underline;
}




/* 新碟上架 */
.new{
    margin: 20px 0 37px;
}
.new-wrap{
    position: relative;
    height: 184px;
    overflow: hidden;
    padding-left: 2px;
    background: #f5f5f5;
    border: 1px solid #d3d3;
    
}
.new-pre, .new-next{
    position: absolute;
    top: 32%;
    font-size: 24px;    
}
.new-pre{
    left: 0;
}
.new-next{
    right: 0;
}
.new-items-wrap{
    float: left;
    width: 645px;
    height: 168px;
    overflow: hidden;
}
.new-items-wrap ul{
    float: left;
}
.new-side-wrap{
    /* width: 1995px; */
    width: 3325px;
    height: 168px;
}

.new-side-wrap ul{
    float: left;
}




.new-items{
    /* position: absolute;
    top: 0; */
    width: 665px;
    padding: 0 10px 0 10px; 
    margin-top: 18px;
}

.new-items li{
    float: left;
    display: block;
    width: 118px;
    height: 150px;
    margin-left: 11px;
    background-position: -260px 100px;
}

.item-img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    position: relative;

}

.item-dt-bc{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 118px;
    height: 100px;
    background-position: 0 -570px;
}

.new-icon-play{
    position: absolute;
    display: none;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
}
.item-img:hover .new-icon-play{
    display: block;
}


.dt-img{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.item-info{
    font-size: 12px;
    width: 90%;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.item-info a:hover{
    text-decoration: underline;
}
.item-name a{
    color: #666;
}

/* 榜单 */

.top-wrap-item{
    float:left;
    width: 230px;
}
.top-wrap{
    height: 472px;
    margin-top: 20px;
    /* padding-left: 1px; */
}

.top-title{
    height: 120px;
    padding: 20px 0 0 19px;
}
.top-img ,.top-type-title{
    float: left;
}

.top-img{
    width: 80px;
    height: 80px;
}
.top-img img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.top-type-title{
    width: 116px;
    margin: 6px 0 0 10px;
}

.top-type-title a:hover{
    text-decoration: underline;
}

.type-icon{
    margin-top: 10px;
}
.type-icon-play{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-indent: -9999px;
    background-position: -267px -205px;
}

.type-icon-play:hover{
    background-position: -267px -235px;
    
}

.type-icon-good{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    text-indent: -9999px;
    background-position: -300px -205px;
}

.type-icon-good:hover{
    background-position: -300px -235px;
    
}

.top-lists{
    padding-left: 4px;
}
.top-lists li{
    line-height: 32px;
    height: 32px;
}
.top-list-nub{
    display: block;
    float: left;
    width: 35px;
    height: 32px;
    text-align: center;
    color: #666;
    font-size: 16px;
}
.top-list-name{
    display: block;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 170px;
    height: 32px;
    font-size: 12px;
}

.top-icon{
    display: none;
    float: right;
    width: 82px;
}
.top-lists li:hover .top-icon{
    display: block;
}
.top-lists li:hover .top-list-name{
    width: 96px;
}

.icon-play, .icon-add, .icon-good{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    vertical-align: middle;
    background: url(../../assets/index.png) no-repeat 9999px;
}

.icon-play{
    background-position: -267px -268px;
}
.icon-add{   
    margin: 2px 6px 0 0;
    background: url(../../assets/icon.png) no-repeat 9999px;
    background-position: 0 -700px;
}
.icon-good{
    background-position: -297px -268px;
}

.icon-play:hover{
    background-position: -267px -288px;

}
.icon-add:hover{
    background-position: -22px -700px;

}
.icon-good:hover{
    background-position: -297px -288px;

}



.top-more{
    height: 32px;
    padding-right: 6px;
    line-height: 32px;
    text-align: right;
}

.top-more a:hover, .top-list-name:hover{
    text-decoration: underline;
}

.top-last-w{
    width: 227px;
}



