.main{
    width: 980px;
    min-height: 700px;
    _height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
}
.hot-title{
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
}